
body {
  background-color: crimson;
}

h1 {
  color: white;
    text-align: center;
}

img {
  width: 120vh;
  border: dashed gold 3px;
}

img:hover {
  width: 130ox;
  border: solid black 3px;
}
 

